.DetailCity {
  height: 700px;
  margin-bottom: 80px;
}
.DetailCity-image {
  max-width: 1300px;
  height: 700px;
  margin: auto;
}

.DetailCity-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(100% 0, 100% 100%, 90% 70%, 10% 70%, 0 100%, 0 0);
}
.DetailCity-content {
  position: relative;
  top: -190px;
  color: var(--tertiary-color-1);
  text-align: center;
  padding: 0 15px;
}
.DetailCity-content > h1 {
  font-size: 48px;
  margin-bottom: 40px;
  text-decoration: underline;
}
.DetailCity-content > p {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .DetailCity-image {
    height: 500px;
  }
  .DetailCity-image > img {
    clip-path: none;
    height: 500px;
  }
  .DetailCity-content {
    position: static;
    padding-bottom: 10px;
  }
  .DetailCity-content > h1 {
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .DetailCity-header {
    height: auto;
  }
}
