.footer{
  width: 100%;
  padding-top: 10px;
  background-color:var(--secondary-color-2);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-icon{
  background:var(--secondary-color-2) ;
  border: none;

}
.route-icon {
  width: 40px;
}

@media screen and (max-width:720px){
  .footer-links {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
  .route-icon {
    width: 30px;
  }
.footer{
  text-align: center;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
}



}