.Form {
  font-size: 16px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px 30px;
  gap: 25px;
}

.Form label {
  color: var(--black);
}

.Form-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 5px;
}

.Form-textarea{
  border: 3px solid var(--lightgray);
  font-size: 16px;
  border-radius: 4px;
  height: 150px;
  resize: vertical;
}

.Form-input {
  border: 3px solid var(--lightgray);
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
}



.Form-button {
  align-self: center;
  font-size: 16px;
  background-color: var(--tertiary-color-1);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
}

.Form-button:hover {
  background-color: var(--tertiary-color-3);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .Form-field {
    width: 100%;
  }
}
