.Google-button {
  font-size: 14px;
  padding: 0 8px;
  height: 40px;
  color: rgba(0, 0, 0, 0.54);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 280px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.54);
  margin: 20px auto 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Google-button:hover {
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
}
.Google-button > img {
  width: 24px;
}
.Google-button:focus {
  outline: 3px solid rgb(197, 217, 251);
}
