.Cities {
  padding: 30px 100px;
  width: 100%;
}
.Cities-title {
  color: var(--tertiary-color-1);
  text-align: center;
  margin-bottom: 30px;
  
}
.Cities-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px 100px;
  
}
@media (max-width: 1200px) {
  .Cities {
    padding: 30px 50px;
  }
  .Cities-content {
    gap: 30px 50px
  }
}
@media (max-width: 768px) {
  .Cities {
    padding: 30px 10px;
  }
}