.EditCollection {
  max-width: 800px;
  width: 100%;
  padding: 20px 50px;
  margin: 20px auto 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.EditCollection-title {
  text-align: center;
  color: var(--tertiary-color-1);
}

.EditCollectionForm {
  font-size: 16px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px 30px;
  gap: 25px;
}

.EditCollectionForm label {
  color: var(--black);
}

.EditCollectionForm-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 5px;
}

.EditCollectionForm-input {
  border: 3px solid var(--lightgray);
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
}
.EditCollectionForm-textarea {
  border: 3px solid var(--lightgray);
  font-size: 16px;
  border-radius: 4px;
  height: 150px;
  resize: vertical;
}

.EditCollectionForm-button {
  align-self: center;
  font-size: 16px;
  background-color: #007cbb;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
}

.EditCollectionForm-button:hover {
  background-color: hsl(200, 100%, 25%);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .EditCollectionForm-field {
    width: 100%;
  }
}
